{% extends 'base.html' %}
{% block title %}
Buy Data
{% endblock %}
{% block content %}

<div class="mb-3 bg-light">
    <hr>
        <p class="card-title h5 ps-3">Buy Data</p>
    <hr>
</div>

<p class="text-success">Wallet Bal ₦{{user.balance}}</p>
    <form action="" method="POST">
        {% csrf_token %}
        {% include 'form.html' %}
            <input type="submit" value="Buy Now" class="btn btn-primary">
    </form>

    
<script>
    $(document).ready(function() {
        $('#id_data_plan').closest('p').hide();
            $('#id_data_type').on('change', function() {
            $('#id_data_plan').closest('p').show();

            $('#id_network').on('change', function() {
              $('#id_data_plan').closest('p').hide();
            })
        });
    });
    

        $("#id_network").change(function () {
        var url = "{% url 'ajax_load_data_types' %}"; 
        var networkId = $("#id_network").val();
        console.log(networkId)
    
        $.ajax({                      
          url: url,                    
          data: {
            'network': networkId      
          },
          success: function (data) {  
            $("#id_data_type").html(data); 
            updateDataPlanOptions(); 
          }
        });
    
      });
    
                            
                    
                            function updateDataPlanOptions() {
                                $("#id_data_type").change(function () {
                                
                                var dataTypeId = $("#id_data_type").val();
                                console.log(dataTypeId)
                                $.ajax({
                                    url: "{% url 'ajax_load_data_plans' %}",
                                    data: {
                                        'data_type': dataTypeId
                                    },
                                    success: function (data) {
                                        $("#id_data_plan").html(data);
                                    }
                                });
                            })
                            }
                        </script>
    
{% endblock %}
