{% extends 'base.html' %}
{% block title %}
Reset Password
{% endblock %}
{% block content %}
<div class="card-header mb-3">
    <h5 class="card-title text-danger">Reset Password</h5>
</div>
    <form action="" method="POST">
        {% csrf_token %}
        {% include 'form.html' %}
            <input type="submit" value="Reset Password" class="btn btn-danger">
    </form>
    <script>
        $(document).ready(function() {
            $("#id_new_password1").addClass("form-control border border-2");
            $("#id_new_password2").addClass("form-control border border-2");
        });
    </script>
{% endblock %}
