{% extends 'base.html' %}
{% block title %}
Edit Profile
{% endblock %}
{% block content %}
<div class="card-header mb-3">
    <h5 class="card-title text-center text-success">Edit Profile</h5>
</div>
    <form action="" method="POST">
        {% csrf_token %}
        {% include 'form.html' %}
        <div class="card-footer p-3 mt-4">
            <input type="submit" value="Update" class="btn btn-danger">
            <a href="{% url 'profile' %}" class="btn btn-warning">Cancel</a>
        </div>
    </form>
{% endblock %}
