{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="card-header mb-3">
    <h5 class="card-title text-center text-danger">Login to Your Account</h5>
</div>
    <form action="" method="POST">
        {% csrf_token %}
        {% include 'form.html' %}
        <div class="d-grid">
            <input type="submit" value="Login" class="btn btn-danger mt-2">
            <p class="small">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            <p class="small"><a href="{% url 'password_reset' %}">Forget Password?</a></p>


        </div>
    </form>
{% endblock %}
